 # Set environment to local to use ngrok
ENVIRONMENT="local"
NGROK_URL="<NGROK URL>"

# OpenAI API key (for GPT models)
OPENAI_API_KEY="<Your OpenAI API Key>"

# Google Gemini API key (for Gemini models)
GEMINI_API_KEY="<Your Google AI / Gemini API Key>"